{#
/**
 * @file owlcarousel2.html.twig
 * Default theme implementation to present OwlCarousel2 data.
 *
 * This template is used when viewing OwlCarousel2 pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_owlcarousel2()
 *
 * @ingroup themeable
 */
#}
{% if not navigation_as_carousel %}
<div id="owlcarousel2-wrapper-{{ id }}">
  <div id="owlcarousel2-id-{{ id }}" class="owl-carousel owl-theme" {{ attributes.addClass('owlcarousel2') }}>
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
  <div id="owl-text-navigation-{{ id }}" class="owl-text-navigation">
    {% for item in  nav_titles %}
      <a class="owl-text-navigation-link" href="#{{ item.id }}">{{ item.title }}</a>
    {% endfor %}
  </div>
</div>
{% else %}
  <div id="owlcarousel2-wrapper-{{ id }}">
    {% if main_items %}
      {% for item in main_items %}
        <div class="owlcarousel2-navigation-as-carousel-main-image">{{ item }}</div>
      {% endfor %}
    {% endif %}
    <div id="owlcarousel2-id-{{ id }}" class="owl-carousel owl-theme" {{ attributes.addClass('owlcarousel2') }}>
      {% if content %}
        {{ content }}
      {% endif %}
    </div>
  </div>
{% endif %}