{#
/**
 * @file owlcarousel2.html.twig
 * Default theme implementation to present OwlCarousel2 data.
 *
 * This template is used when viewing OwlCarousel2 pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_owlcarousel2()
 *
 * @ingroup themeable
 */
#}
<div id="owlcarousel2-wrapper-{{ id }}" class="owlcarousel2-wrapper">
  <div id="owlcarousel2-id-{{ id }}" class="owl-carousel owl-theme" {{ attributes.addClass('owlcarousel2') }}>
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
  <div id="owl-text-navigation-{{ id }}" class="owl-text-navigation">
    {% for item in  nav_titles %}
      <div class="owl-text-navigation-text" style="background: url({{ item.image_nav }}); background-size: cover;">
        <a class="owl-text-navigation-link" href="#{{ item.id }}">{{ item.title }}</a>
        <div class="owl-text-navigation-text-bg"></div>
      </div>
    {% endfor %}
  </div>
</div>
